

<ion-view view-title="ConstaMagic - <b>Etape 2</b>">
	<ion-content class="padding etape">

		<h3><img src="img/icon/constat.png"><span>Liste </span>{{libelleFamille}}</h3>
<!--
        <p class="center">
            <button class="button circonst" ui-sref="1-1-1_accident"> En agglomération </button>
            <button class="button circonst" ui-sref=""> Hors agglomération</button><br />
            <button class="button circonst" ui-sref=""> Le véhicule quitte un stationnement ouverture portière  </button>
            <button class="button circonst" ui-sref=""> Véhicule prend un stationnement </button>
        </p>
        -->
         <div>
         <ion-list ng-repeat="sf in sousFamille">
                    <div class="row center">
			            <div class="col col-10"></div>
                    <button class="button circonst col col-80" ng-click="gotoAllCirconstance(sf.id, sf.libelle)">{{sf.libelle}}</button>
                    <div class="col col-10"></div>
                    </div>
        </ion-list>
        </div>



</ion-view>