<ion-view view-title="ConstaMagic - <b>Etape 7</b>">
	<ion-content class="padding etape">

		<h3><img src="img/icon/constat.png"><span>Choc véhicule B</span></h3>

		<div class="item item-divider center">
			Toucher l'endroit du choc sur le véhicule B
		</div>

		<div ng-if="vecB=='voiture'">
			<div class="row">
				<!--<div class="col col-30 alignCenter"> </div>-->
				<div class="col col-40" style="text-align:right" ng-click="setChocVecB(1)"><img src="img/haut_gauche_w.png" onmouseover="this.src='img/haut_gauche_b.png'" onmouseout="this.src='img/haut_gauche_w.png'" /></div>
				<div class="col col-20 alignCenter" ng-click="setChocVecB(2)"><img src="img/haut_w.png"></div>
				<div class="col col-40" style="text-align:left" ng-click="setChocVecB(3)"><img src="img/haut_droite_w.png"></div>
				<!--<div class="col col-30 alignCenter"> </div>-->
			</div>

			<div class="row">
				<div class="col col-30" style="text-align:right">
					<div ng-click="setChocVecB(4)"><img src="img/gauche_w.png"></div>
					<div ng-click="setChocVecB(5)"><img src="img/gauche_w.png"></div>
					<div ng-click="setChocVecB(6)"><img src="img/gauche_w.png"></div>
				</div>
				<div class="item col alignCenter" style= "width:100px;">
					<img style="width: 100px;" src="img/voiture_B.png">
				</div>
				<div class="col col-30" style="text-align:left">
					<div item ng-click="setChocVecB(7)"><img src="img/droite_b.png"></div>
					<div ng-click="setChocVecB(8)"><img src="img/droite_b.png"></div>
					<div ng-click="setChocVecB(9)"><img src="img/droite_b.png"></div>
				</div>
			</div>
			<div class="row">
				<div class="col col-40" style="text-align:right" ng-click="setChocVecB(10)"><img src="img/bas_gauche_w.png" onmouseover="this.src='img/haut_gauche_b.png'" onmouseout="this.src='img/haut_gauche_w.png'" /></div>
				<div class="col col-20 alignCenter" ng-click="setChocVecB(11)"><img src="img/bas_w.png"></div>
				<div class="col col-40" style="text-align:left" ng-click="setChocVecB(12)"><img src="img/bas_droite_w.png"></div>
			</div>
		</div>

		<div ng-if="vecB=='moto'">
		<div class="row">
				<div class="col col-25 alignCenter" ng-click="setChocVecB(1)"></div>
				<div class="col col-50 alignCenter" ng-click="setChocVecB(2)"><img src="img/haut_w.png"></div>
				<div class="col col-25 alignCenter" ng-click="setChocVecB(3)"></div>
			</div>

			<div class="row">
				<div class="col col-30" style="text-align:right">
					<div ng-click="setChocVecB(4)"><img src="img/gauche_w.png"></div>
					<div ng-click="setChocVecB(5)"><img src="img/gauche_w.png"></div>
					<div ng-click="setChocVecB(6)"><img src="img/gauche_w.png"></div>
				</div>
				<div class="item col col-40 alignCenter">
					<img style="width: 100px;" src="img/moto_B.png">
				</div>
				<div class="col col-30" style="text-align:left">
					<div item ng-click="setChocVecB(7)"><img src="img/droite_b.png"></div>
					<div ng-click="setChocVecB(8)"><img src="img/droite_b.png"></div>
					<div ng-click="setChocVecB(9)"><img src="img/droite_b.png"></div>
				</div>
			</div>
			<div class="row">
				<div class="col col-25 alignCenter" ng-click="setChocVecB(10)"></div>
				<div class="col col-50 alignCenter" ng-click="setChocVecB(11)"><img src="img/bas_w.png"></div>
				<div class="col col-25 alignCenter" ng-click="setChocVecB(12)"></div>
			</div>
		</div>
		<div ng-if="vecB=='utilitaire'">
			<div class="row">
				<div class="col col-40" style="text-align:right" ng-click="setChocVecB(1)"><img src="img/haut_gauche_w.png" onmouseover="this.src='img/haut_gauche_b.png'" onmouseout="this.src='img/haut_gauche_w.png'" /></div>
				<div class="col col-20 alignCenter" ng-click="setChocVecB(2)"><img src="img/haut_w.png"></div>
				<div class="col col-40" style="text-align:left" ng-click="setChocVecB(3)"><img src="img/haut_droite_w.png"></div>
			</div>

			<div class="row">
				<div class="col col-30" style="text-align:right">
					<div ng-click="setChocVecB(4)"><img src="img/gauche_w.png"></div>
					<div ng-click="setChocVecB(5)"><img src="img/gauche_w.png"></div>
					<div ng-click="setChocVecB(6)"><img src="img/gauche_w.png"></div>
				</div>
				<div class="item col col-40 alignCenter">
					<img style="width: 100px;" src="img/utilitaire_B.png">
				</div>
				<div class="col col-30" style="text-align:left">
					<div item ng-click="setChocVecB(7)"><img src="img/droite_b.png"></div>
					<div ng-click="setChocVecB(8)"><img src="img/droite_b.png"></div>
					<div ng-click="setChocVecB(9)"><img src="img/droite_b.png"></div>
				</div>
			</div>
			<div class="row">
				<div class="col col-40" style="text-align:right" ng-click="setChocVecB(10)"><img src="img/bas_gauche_w.png"></div>
				<div class="col col-20 alignCenter" ng-click="setChocVecB(11)"><img src="img/bas_w.png"></div>
				<div class="col col-40" style="text-align:left" ng-click="setChocVecB(12)"><img src="img/bas_droite_w.png"></div>
			</div>
		</div>

	</ion-content>