<ion-view view-title="ConstaMagic - <b>Etape 8 Le constat</b>">
	<ion-content class="padding etape">

		<h3><img src="img/icon/constat.png"><span>Le constat</span></h3>



		<div class="item item-divider">
			Date du constat : {{date_constat}}
		</div>
		
		<div class="center">
			<a class="button" ng-if="enregistrer==1" ng-click="saveConstat()"><span>Enregistrer le constat</span></a>
		</div>
	<br>

<div class="constat-divider">
			07 - Véhicule A
		</div>
		<p>Marque  : {{vehicule[0].marque}}</p>
		<p>Modèle  : {{vehicule[0].modele}}</p>
		<p>Immat : {{vehicule[0].immat}}</p>
		<div>
		</div>

	<div ng-if="assurance[0].name!=''">
		<div class="constat-divider">
			08 - Société d'assurance
		</div>
		<p>Societe  : {{assurance[0].name}}</p>
		<p>Numéro de contrat  : {{assurance[0].contrat}}</p>
		<p>Numéro de carte verte : {{assurance[0].green}}</p>
		<p>Agence  : {{assurance[0].ag_name}}</p>
		<p>Adresse : {{assurance[0].ag_addr}}</p>
		</<div>
			
		</div>
		<div class="constat-divider">
			09 - Conducteur
		</div>
		<p>nom  : {{conducteur[0].nom}} - prenom  : {{conducteur[0].prenom}}</p>
		<p>Permis de conduire  : {{conducteur[0].permnum}}</p>

		<div class="constat-divider">
			Commentaire
		</div>
		<div>
			<p> {{fiche.commentaire}}</p>
		</div>

		<div class="constat-divider">
			Cases a cocher en zone 12
		</div>
		<div>
			<div class="row header titre-tb center">
				<div class="col col-20 item item-divider">Véh. A</div>
				<div class="col col-60 item item-divider">Circonstance</div>
				<div class="col col-20 item item-divider">Véh. B</div>
			</div>

			<div class="row" ng-repeat="c in circonstances">
				<div ng-if="c.vecA==true" class="col col-20 center"><i class="icon ion-android-checkbox-outline" style="color:red"> {{c.id}}</i></div>
				<div ng-if="c.vecA==false" class="col col-20 center"> <i class="icon ion-android-checkbox-outline-blank" style=""> {{c.id}}</i></div>

				<div class="col col-60 center ">{{c.libelle}}</div>
				<div ng-if="c.vecB==true" class="col col-20 center" style="color:red">{{c.id}} <i class="icon ion-android-checkbox-outline" style="color:red"></i></div>
				<div ng-if="c.vecB==false" class="col col-20 center" style="">{{c.id}} <i class="icon ion-android-checkbox-outline-blank" style=""></i></div>
			</div>
			
			<div class="row total">
				<div class="col col-20 tb-right center" style="font-size: 1.5em;"><b>{{fiche.total_A}}</b></div>

				<div class="col col-60 center"><b>Indiqué le nombre de cases marquées d'une croix</b></div>
				<div class="col col-20 tb-left center" style="font-size: 1.5em;"><b>{{fiche.total_B}}</b></div>
			

		</div>


		<div class="constat-divider">Renseignements complémentaires indispensables à indiquer en zone 14 "Observations"</div>
		<p ng-if="fiche.obs_a!=''">Véhicule A :</p>
		<p>{{fiche.obs_a}}</p>
		<p ng-if="fiche.obs_b!=''">Véhicule B :</p>
		<p>{{fiche.obs_b}}</p>

		<p ng-if="fiche.obs_nota!=''">NB :</p>
		<p>{{fiche.obs_nota}}</p>


		<div class="constat-divider">16 - Véhicule A</div>

		<div ng-if="vecA=='voiture'">
			<div class="row">
				<div class="col col-25 alignCenter"><img src="img/haut_gauche_w.png" ng-if="chocA==1" /></div>
				<div class="col col-50 alignCenter"><img src="img/haut_w.png" ng-if="chocA==2"></div>
				<div class="col col-25 alignCenter"><img src="img/haut_droite_w.png" ng-if="chocA==3"></div>
			</div>

			<div class="row">
				<div class="col col-25" style="text-align:right">
					<div><img src="img/gauche_w.png" ng-if="chocA==4"></div>
					<div><img src="img/gauche_w.png" ng-if="chocA==5"></div>
					<div><img src="img/gauche_w.png" ng-if="chocA==6"></div>
				</div>
				<div class="item col col-50 alignCenter">
					<img style="width: 75px;" src="img/voiture_B.png">
				</div>
				<div class="col col-25" style="text-align:left">
					<div><img src="img/droite_b.png" ng-if="chocA==7"></div>
					<div><img src="img/droite_b.png" ng-if="chocA==8"></div>
					<div><img src="img/droite_b.png" ng-if="chocA==9"></div>
				</div>
			</div>
			<div class="row">
				<div class="col col-25 alignCenter"><img src="img/bas_gauche_w.png" ng-if="chocA==10"></div>
				<div class="col col-50 alignCenter"><img src="img/bas_w.png" ng-if="chocA==11"></div>
				<div class="col col-25 alignCenter"><img src="img/bas_droite_w.png" ng-if="chocA==12"></div>
			</div>
		</div>

		<div ng-if="vecA=='moto'">
			<div class="row">
				<div class="col col-25 alignCenter"><img src="img/haut_gauche_w.png" ng-if="chocA==1" /></div>
				<div class="col col-50 alignCenter"><img src="img/haut_w.png" ng-if="chocA==2"></div>
				<div class="col col-25 alignCenter"><img src="img/haut_droite_w.png" ng-if="chocA==3"></div>
			</div>

			<div class="row">
				<div class="col col-25" style="text-align:right">
					<div><img src="img/gauche_w.png" ng-if="chocA==4"></div>
					<div><img src="img/gauche_w.png" ng-if="chocA==5"></div>
					<div><img src="img/gauche_w.png" ng-if="chocA==6"></div>
				</div>
				<div class="item col col-50 alignCenter">
					<img style="width: 75px;" src="img/moto_B.png">
				</div>
				<div class="col col-25" style="text-align:left">
					<div><img src="img/droite_b.png" ng-if="chocA==7"></div>
					<div><img src="img/droite_b.png" ng-if="chocA==8"></div>
					<div><img src="img/droite_b.png" ng-if="chocA==9"></div>
				</div>
			</div>
			<div class="row">
				<div class="col col-25 alignCenter"><img src="img/bas_gauche_w.png" ng-if="chocA==10"></div>
				<div class="col col-50 alignCenter"><img src="img/bas_w.png" ng-if="chocA==11"></div>
				<div class="col col-25 alignCenter"><img src="img/bas_droite_w.png" ng-if="chocA==12"></div>
			</div>
		</div>
		<div ng-if="vecA=='utilitaire'">
			<div class="row">
				<div class="col col-25 alignCenter"><img src="img/haut_gauche_w.png" ng-if="chocA==1" /></div>
				<div class="col col-50 alignCenter"><img src="img/haut_w.png" ng-if="chocA==2"></div>
				<div class="col col-25 alignCenter"><img src="img/haut_droite_w.png" ng-if="chocA==3"></div>
			</div>

			<div class="row">
				<div class="col col-25" style="text-align:right">
					<div><img src="img/gauche_w.png" ng-if="chocA==4"></div>
					<div><img src="img/gauche_w.png" ng-if="chocA==5"></div>
					<div><img src="img/gauche_w.png" ng-if="chocA==6"></div>
				</div>
				<div class="item col col-50 alignCenter">
					<img style="width: 75px;" src="img/utilitaire_B.png">
				</div>
				<div class="col col-25" style="text-align:left">
					<div><img src="img/droite_b.png" ng-if="chocA==7"></div>
					<div><img src="img/droite_b.png" ng-if="chocA==8"></div>
					<div><img src="img/droite_b.png" ng-if="chocA==9"></div>
				</div>
			</div>
			<div class="row">
				<div class="col col-25 alignCenter"><img src="img/bas_gauche_w.png" ng-if="chocA==10"></div>
				<div class="col col-50 alignCenter"><img src="img/bas_w.png" ng-if="chocA==11"></div>
				<div class="col col-25 alignCenter"><img src="img/bas_droite_w.png" ng-if="chocA==12"></div>
			</div>
		</div>

		<div class="constat-divider">16 - Véhicule B</div>

		<div ng-if="vecB=='voiture'">
			<div class="row">
				<div class="col col-25 alignCenter"><img src="img/haut_gauche_w.png" ng-if="chocB==1" /></div>
				<div class="col col-50 alignCenter"><img src="img/haut_w.png" ng-if="chocB==2"></div>
				<div class="col col-25 alignCenter"><img src="img/haut_droite_w.png" ng-if="chocB==3"></div>
			</div>

			<div class="row">
				<div class="col col-25" style="text-align:right">
					<div><img src="img/gauche_w.png" ng-if="chocB==4"></div>
					<div><img src="img/gauche_w.png" ng-if="chocB==5"></div>
					<div><img src="img/gauche_w.png" ng-if="chocB==6"></div>
				</div>
				<div class="item col col-50 alignCenter">
					<img style="width: 75px;" src="img/voiture_B.png">
				</div>
				<div class="col col-25" style="text-align:left">
					<div><img src="img/droite_b.png" ng-if="chocB==7"></div>
					<div><img src="img/droite_b.png" ng-if="chocB==8"></div>
					<div><img src="img/droite_b.png" ng-if="chocB==9"></div>
				</div>
			</div>
			<div class="row">
				<div class="col col-25 alignCenter"><img src="img/bas_gauche_w.png" ng-if="chocB==10"></div>
				<div class="col col-50 alignCenter"><img src="img/bas_w.png" ng-if="chocB==11"></div>
				<div class="col col-25 alignCenter"><img src="img/bas_droite_w.png" ng-if="chocB==12"></div>
			</div>
		</div>

		<div ng-if="vecB=='moto'">
			<div class="row">
				<div class="col col-25 alignCenter"><img src="img/haut_gauche_w.png" ng-if="chocB==1" /></div>
				<div class="col col-50 alignCenter"><img src="img/haut_w.png" ng-if="chocB==2"></div>
				<div class="col col-25 alignCenter"><img src="img/haut_droite_w.png" ng-if="chocB==3"></div>
			</div>

			<div class="row">
				<div class="col col-25" style="text-align:right">
					<div><img src="img/gauche_w.png" ng-if="chocB==4"></div>
					<div><img src="img/gauche_w.png" ng-if="chocB==5"></div>
					<div><img src="img/gauche_w.png" ng-if="chocB==6"></div>
				</div>
				<div class="item col col-50 alignCenter">
					<img style="width: 75px;" src="img/moto_B.png">
				</div>
				<div class="col col-25" style="text-align:left">
					<div><img src="img/droite_b.png" ng-if="chocB==7"></div>
					<div><img src="img/droite_b.png" ng-if="chocB==8"></div>
					<div><img src="img/droite_b.png" ng-if="chocB==9"></div>
				</div>
			</div>
			<div class="row">
				<div class="col col-25 alignCenter"><img src="img/bas_gauche_w.png" ng-if="chocB==10"></div>
				<div class="col col-50 alignCenter"><img src="img/bas_w.png" ng-if="chocB==11"></div>
				<div class="col col-25 alignCenter"><img src="img/bas_droite_w.png" ng-if="chocB==12"></div>
			</div>
		</div>
		<div ng-if="vecB=='utilitaire'">
			<div class="row">
				<div class="col col-25 alignCenter"><img src="img/haut_gauche_w.png" ng-if="chocB==1" /></div>
				<div class="col col-50 alignCenter"><img src="img/haut_w.png" ng-if="chocB==2"></div>
				<div class="col col-25 alignCenter"><img src="img/haut_droite_w.png" ng-if="chocB==3"></div>
			</div>

			<div class="row">
				<div class="col col-25" style="text-align:right">
					<div><img src="img/gauche_w.png" ng-if="chocB==4"></div>
					<div><img src="img/gauche_w.png" ng-if="chocB==5"></div>
					<div><img src="img/gauche_w.png" ng-if="chocB==6"></div>
				</div>
				<div class="item col col-50 alignCenter">
					<img style="width: 75px;" src="img/utilitaire_B.png">
				</div>
				<div class="col col-25" style="text-align:left">
					<div><img src="img/droite_b.png" ng-if="chocB==7"></div>
					<div><img src="img/droite_b.png" ng-if="chocB==8"></div>
					<div><img src="img/droite_b.png" ng-if="chocB==9"></div>
				</div>
			</div>
			<div class="row">
				<div class="col col-25 alignCenter"><img src="img/bas_gauche_w.png" ng-if="chocB==10"></div>
				<div class="col col-50 alignCenter"><img src="img/bas_w.png" ng-if="chocB==11"></div>
				<div class="col col-25 alignCenter"><img src="img/bas_droite_w.png" ng-if="chocB==12"></div>
			</div>
		</div>

		<div class="constat-divider">Croquis de l'accident (exemple) </div>
		<div class="list card">
			<div class="item item-image">
				<img ng-src="{{image[0].url}}">
			</div>
		</div>

	</ion-content>
	</ion-content>