<ion-view view-title="A Propos de <strong>Consta <span>Magic</span></strong>">
	<ion-content class="padding">

        <div class="blk"> <div class="blkequipe"></div>

		    <h3><span>L'équipe</span> Consta Magic</h3>

            <p>
Quam ob rem cave Catoni anteponas ne istum quidem ipsum, quem Apollo, ut ais, sapientissimum iudicavit; huius enim facta, illius dicta laudantur. De me autem, ut iam cum utroque vestrum loquar, sic habetote.</p>

<p>Quibus ita sceleste patratis Paulus cruore perfusus reversusque ad principis castra multos coopertos paene catenis adduxit in squalorem deiectos atque maestitiam, quorum adventu intendebantur eculei uncosque parabat carnifex et tormenta. et ex is proscripti sunt plures actique in exilium alii, non nullos gladii consumpsere poenales. nec enim quisquam facile meminit sub Constantio, ubi susurro tenus haec movebantur, quemquam absolutum.
            </p>
        </div>

        <div class="blk"> <div class="blkobjectif"></div>
            <h3><span>L'objectif </span> de Consta Magic</h3>

            <p>
                Les conseils ou les directives que je vous donne dans l’utilisation de cette application sont fiables, sinon, je ne les aurais pas écrites.
            </p>
            <p>
                <span class="txtval">Alors, je vous en prie, commencez par oublier les bons conseils qu’auraient pu vous donner votre beauf, votre copain de boulot, votre jardinier, ou les « mêle-tout » et « yaka-faucon » et même certains assureurs qui sévissent malheureusement trop souvent dans les forums d’internet où ils écrivent tout et n’importe quoi.</span>
            </p>
            <p>
                Moi, je parle de choses que je connais car cela fait 45 ans que je prodigue des conseils sur la rédaction d’un constat amiable d’accident et j’en ai même fait une activité à part entière dans ma carrière de consultant au cours des années 1990.  A l’époque, je m’étais spécialisé dans la formation des conducteurs de bus urbains et je peux vous dire que là où je passais, la statistique de sinistres des flottes de bus s’améliorait très rapidement.
            </p>
            <p>
                Le réel but de mon application n’est pas tant de vous faire gagner du temps, <span class="txtval">mais surtout de  vous éviter de faire une bêtise dans la rédaction du constat amiable</span>, bêtise qui vous conduirait à perdre de l’argent du fait de la réduction de votre « bonus-malus » donc de <span class="txtval">l’augmentation de votre cotisation d’assurance sur plusieurs années.</span>
               <span class="txtval">Même pour ceux qui clament haut et fort qu’ils bénéficient du fameux « bonus à vie », car si effectivement leur assureur s’est engagé à ne pas baisser leur bonus en cas d’accident responsable, le même assureur ne s’est  certainement pas engagé à ne pas résilier leur contrat, et cela arrive plus souvent qu’on ne le croît, mais on n’en parle pas à la télé… !</span>
            </p>
        </div>

    </ion-content>
</ion-view>
