

<ion-view view-title="Véhicules">
	<ion-content class="padding">

		<h3><img src="img/icon/voiture.png" /><span>Liste</span> des véhicules</h3>

        <p>Veuillez sélectionner le véhicule :</p>

        <form role="form" class="list" ng-submit="addAss()">
            <label class="item item-input item-stacked-label">
                <ion-list ng-repeat="vehicule in vehicules">
                     <ion-radio ng-model="choice.vehicule" ng-value="'{{vehicule.id}}'" ng-change="goToConducteur(vehicule)">{{vehicule.marque}} - {{vehicule.modele}}</ion-radio>
                 </ion-list>
            </label>
            <button class="button icon-right ion-chevron-right" ui-sref="const_conducteurs"> Continuer</button>

              <button class="button icon-left ion-android-add"    ui-sref="vehicules_form"> Ajouter</button>
        </form>

	</ion-content>
</ion-view>