<ion-view view-title="Les conseils <strong>d'Assurman</strong>">
    <ion-content class="padding">

        <div class="blk"> <div class="blkconseil"></div>
            <h3><span>Conseil N°1 </span> Attention aux idées reçues </h3>
            <p>
                Contrairement aux idées reçues et <ins><i><b> bien entendu fausses</b></i></ins> , <span class="txtval">plus on coche de cases</span>, plus il y a de risques <span class="txtval">que votre constat soit mal rédigé</span> et que <span class="txtval">vous supportiez à tort la responsabilité de l’accident…</span>
            </p>
            <p>
                J’ai choisi de  vous simplifier  la vie en adoptant le principe de situations pré-dessinées  d’accident. Il ne vous restera qu’à choisir laquelle correspond à la situation d’accident que vous connaissez.
                Seuls, quelques cas exceptionnels n’entrent pas dans cette pré- sélection, et je les traite dans la rubrique « cas particuliers »
            <p>

            </p>
            <p>
                <span class="txtval">Faire un constat amiable, c’est simple, rapide, efficace et il vous rapporte de l’argent  (en vous évitant d’en perdre) quand il est bien rempli… </span>
            </p>
            <p class="txtvalR">
                <b><ins>ATTENTION :</ins></b><br />
                <b>Il y a déjà des applications du même genre sur le marché. Mais la plupart ont été conçues et sont distribuées par les sociétés d’assurance dont l’intérêt n’est pas forcément convergent avec le vôtre (cas de deux automobilistes assurés auprès du même assureur)…</b>
            </p>
            <p>
                Moi, je n’ai eu qu’une seule préoccupation en créant cette appli : <span class="txtval"> celle de sauvegarder vos seuls intérêts.</span>
            </p>

        </div>

        <div class="blk"> <div class="blkconseil"></div>
            <h3><span>Conseil N°2 </span> Ce qu’il faut impérativement faire après avoir téléchargé l’appli Consta Magic</h3>

            <p> <b>1</b>) Renseigner les informations de votre ou <a ui-sref="assurances"><b>vos assurances en cliquant ici</b></a></p>
            <p> <b>2</b>) Renseigner les caractéristiques de votre ou <a ui-sref="vehicules"><b>vos véhicules en cliquant ici</b></a></p>
            <p> <b>3</b>) Renseigner l’identité de ou des assurés dans <a ui-sref="conducteurs"><b>« Vos conducteur » en cliquant ici</b></a></p>

            <h4><b>Comment ça se passe concrètement</b></h4>

            <p>
                Cette application vous aide dans un premier temps à rédiger un constat amiable « virtuel » sur votre mobile ou sur votre tablette.
                Dans un deuxième temps, vous devrez <b>impérativement rédiger</b> le constat en version <b>«papier»</b> qui, compte tenu de la législation actuelle, <b>reste indispensable</b>.
            </p>
        </div>

        <div class="blk"> <div class="blkconseil"></div>
            <h3><span>Conseil N°3 </span> Ce qu’il faut impérativement faire après un accident</h3>

            <p>
                <b>1</b>) <b>La première chose à faire</b>  est d’éviter qu’un second accident ne se produise donc :
            </p>
            <ul>
                    <li>- mettre vos feux de détresse (warnings)</li>
                    <li>- sortir du véhicule avec prudence après avoir revêtu le gilet de sécurité et mettre les passagers derrière les barrières de sécurité s’il en existe</li>
                    <li>- poser le triangle de signalisation 10 à 20 mètres avant la zone de l’accident</li>
            </ul>

            <p>
                <b>2</b>) <b>Marquer l’emplacement</b>  des véhicules avec de la craie ou de la bombe au périmètre des véhicules et non pas des roues (sauf sur autoroute).

            </p>
            <p>
                <b>3</b>) <b>Prendre des photos</b> comme je le préconise ci-après  :
            </p>
            <p class="deca">
                Avec votre  appareil, vous pouvez prendre des photos, alors ne vous en privez pas, car dans des cas litigieux, cela peut aider votre assureur à défendre vos intérêts et vous éviter d’avoir du malus.
                <br /><br /><ins>Mes conseils pour prendre les photos :</ins>
                <br />Il faut prendre au moins 4 photos suivant les positions des flèches rouges du croquis ci-dessous.
            </p>
            <p class="center txtvalR"> <img src="img/conseil_photo.png" />
                <br /><b>Surtout, n’oubliez pas de sauvegarder les photos sur votre ordinateur</b>
            </p>
        </div>

        <div class="blk"> <div class="blkconseil"></div>
            <h3><span>Conseil N°4 </span> Avant de signer un constat</h3>
            <p>
                Je vous l'ai déjà écrit, un <b>constat amiable</b> d'accident automobile est un acte dont
                la <b>portée juridique est celle d'une transaction</b>.
                Or, <b>dès qu'elle est signée, une transaction ne peut plus être contestée</b> par l'une ou l'autre des
                parties, sauf évidemment si les deux parties sont d'accord pour la modifier.
                Etant donné qu'en l'état actuel des choses, il est nécessaire de rédiger un constat "papier",
                avant de signer le constat amiable, il est <b>absolument indispensable de le relire pour vérifier si votre adversaire n'a pas modifié les préconisations</b> de la présente application.
                Si tout est O.K., chacun des automobilistes signe sa partie, vous séparez les deux exemplaires
                après avoir vérifié que le double est bien lisible.
            </p>
            <p>
                <b>Si vous n'êtes pas d'accord</b>, si votre adversaire est buté, <b>ne signez pas </b>un constat qui vous ferait
                 porter tout ou partie de la responsabilité de l'accident alors que ce n'est pas le cas.
            </p>
            <p>
                Dans une telle situation, <b>si vous avez pris des photos</b> des véhicules accidentés comme
                je le préconise dans l'introduction à l'utilisation de la présente application, <b>vous pourrez peut-être
                vous en sortir.</b>
                Et n'hésitez pas à demander leur assistance aux éventuels témoins ; oui, je sais que le courage
                n'est plus de nos jours une qualité très répandue, mais enfin, il y a encore des gens "qui en ont",
                sinon, c'est à désespérer de l'avenir de l'humanité…!
            </p>
            <p>
                Donc, <b>mieux vaut repartir avec un constat amiable non signé qu'avec un constat mal rédigé…</b>
                Qu'on se le dise…!
            </p>
            <p>
                Et si vous avez des soucis, vous savez où me trouver…!
            </p>
        </div>

</ion-content>
</ion-view>