

<ion-view view-title="ConstaMagic - <b>Etape 1</b>">
	<ion-content class="padding etape">

		<h3><img src="img/icon/constat.png" /><span>Liste</span> des circonstances</h3>

        <p class="center">Veuillez sélectionner les circonstances de votre accident</p>
       <!-- <p class="center">
            <button class="button circonst" ui-sref="1-1_circonst"> En stationnement ou à l’arrêt</button>
            <button class="button circonst" ui-sref=""> Accidents sur ou aux abords des parkings</button>
            <button class="button circonst" ui-sref=""> Véhicules circulent dans le même sens</button>
            <button class="button circonst" ui-sref=""> Circulation en sens inverse</button>
            <button class="button circonst" ui-sref=""> Accidents dans un carrefour</button>
            <button class="button circonst" ui-sref=""> Accidents sur un rond-point</button>
            <button class="button circonst" ui-sref=""> Cas particuliers</button>
        </p>-->
        
        <div>
         <ion-list ng-repeat="f in famille">
                    <button class="button circonst col" ng-click="gotoSousFamille(f.id)">{{f.libelle}}</button>
        </ion-list>
        </div>
        
</ion-view>