<ion-view view-title="Consta Magic <span class='mini'>Beta 0.6</span>">
	<ion-content class="padding homelogo">
        <p class="center">
            <a class="button buttonC" ui-sref="conseils"></a>
            <a class="button buttonA" ui-sref="const_assurances"></a>

        </p>
        <p class="center homebar">
            <a class="buttonH" ui-sref="assurances"><span>Ajouter Modifier Suprrimer</span> <br /> <b>une assurance</b></a>
            <a class="buttonH" ui-sref="vehicules"><span>Ajouter Modifier suprrimer</span>  <br /> <b>un véhicule</b></a>
            <a class="buttonH" ui-sref="conducteurs"><span>Ajouter Modifier suprrimer</span> <br /> <b>un conducteur</b></a>
        </p>
	</ion-content>
</ion-view>